/*全局公共样式引用文件*/
::-webkit-scrollbar{
  width:0;
  height:0;
}
html,body{
  margin: 0;
  padding: 0;
  background: #F7F8FA;
  height: 100%;
  width: 100%;
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
}